/* Windows93 fonts */
@font-face {
	font-family: "tomo";
	size-adjust: 80%;
	src: url("../fonts/tomo/tomo.eot") format('embedded-opentype'),
         url("../fonts/tomo/tomo.woff2") format('woff2'),
         url("../fonts/tomo/tomo.woff") format('woff'),
         url("../fonts/tomo/tomo.ttf") format('truetype');
}
@font-face {
	font-family: "px_icons";
	size-adjust: 80%;
	src: url("../fonts/px_icons/px_icons.eot") format('embedded-opentype'),
         url("../fonts/px_icons/px_icons.woff2") format('woff2'),
         url("../fonts/px_icons/px_icons.woff") format('woff'),
         url("../fonts/px_icons/px_icons.ttf") format('truetype');
}
@font-face {
	font-family: "px_sans_nouveaux";
	size-adjust: 80%;
	src: url("../fonts/px_sans_nouveaux/px_sans_nouveaux.eot") format('embedded-opentype'),
         url("../fonts/px_sans_nouveaux/px_sans_nouveaux.woff2") format('woff2'),
         url("../fonts/px_sans_nouveaux/px_sans_nouveaux.woff") format('woff'),
         url("../fonts/px_sans_nouveaux/px_sans_nouveaux.ttf") format('truetype');
}

:root {
	--tb-chat-bg: #272822;
	--tb-chat-fg: #f8f8f2;
	--tb-bg: #c0c0c0;
	--tb-fg: #000000;
	
	font: 10px "px_sans_nouveaux", sans;
}

/* === */
#container {
	gap: 0 2px;
	background: var(--tb-bg);
	color: var(--tb-fg);
}
.scroll, .infos {
	border-left: 1px gray;
	border-top: 1px gray;
	box-shadow: 1px 0 #fff,0 1px #fff,1px 1px #fff;
	color: var(--tb-chat-fg);
	background: var(--tb-chat-bg);
}
.infos {
	padding: 0 1ch;
}

.time {
	color: gray;
	padding-right: .5ch;
}
.nick::before {
	color: gray;
}
.line>.msg {
	border-left: 1px solid #333;
}
#tabbar label {
	/* force pixel alignment */
	transform: translateZ(0);
	line-height: 18px;
}
#tabbar input:checked+label {
	text-shadow: 1px 0;
	letter-spacing: 1px;
}
/* hey i heard you liked weird pixel shenanigans that would totally break when you touch it wrong */
#tabctl button {
	width: 20px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#tabctl button::before {
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
	line-height: 16px;
}
#tab_close::before {
	top: -1px;
	left: 1px;
	font-size: 20px;
	content: "\00d7";
}
#tab_create::before {
	top: -1px;
	left: 1px;
	font-size: 20px;
	content: "+";
}
#settingsbtn::before {
	top: 1px;
	font: 10px "px_icons";
	line-height: 20px;
	padding-left: 0px;
	content: "H";
}

dialog:not(.context_menu) {
	background: var(--tb-bg);
	padding: 8px;
	transform: translateZ(0px);
	box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
}

/* Markup */
h1 {
	font-size: 20px;
}
code, pre {
	background: black;
	font-family: tomo;
	letter-spacing: 0px;
}
b code {
	margin: 0 -.5px;
}
b {
	font-weight: normal;
	text-shadow: 1px 0;
	letter-spacing: 1px;
	margin-right: .5px;
}


/* Context menu (and similar controls?) */
.context_map, #autocomp_bar {
	background: var(--tb-bg);
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	box-shadow: inset 1px 1px #dfdfdf,1px 0 #000,0 1px #000,1px 1px #000;
	background-color: silver;
}
.context_entry, .autocomp_entry {
	border: none;
	background: none;
	box-shadow: none;
	padding: 2px 5px 2px 18px;
	margin: 1px 0;
}
.autocomp_entry {
	padding: 2px 5px;
}
.context_entry.active, .autocomp_entry.active {
	background: navy;
	color: #fff;
}
.context_map hr {
	border-top: 1px solid gray;
	border-bottom: 1px solid #dfdfdf;
}

/* Tabs */
.tabbed_bar {
	margin: 0 4px -4px;
}
.tabbed_bar label {
	margin: 0;
	top: 3px;
	background: silver;
	box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf,inset -1px 0 #000,inset -2px 0 #7f7f7f;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom: 2px solid transparent;
	height: 18px;
	line-height: 18px;
	padding: 0 8px;
}
.tabbed_bar input:checked+label {
	height: 18px;
	z-index: 2;
	margin-top: -2px;
}
.tabbed_body {
	box-shadow: inset 1px 1px #fff,inset 2px 2px #dfdfdf,inset -1px -1px #0a0a0a,inset -2px -2px grey;
	padding: 14px;
	clear: both;
	background: silver;
	border: none;
	position: relative;
	z-index: 1;
	margin-bottom: 2px;
}

/* UI controls */
input, select, textarea {
	box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
}
input {
	box-sizing: border-box;
	height: 2em;
	padding: 3px 4px;
	transform: translateZ(0);
}
button {
	box-sizing: border-box;
	border: none;
	background: silver;
	box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
	border-radius: 0;
	min-height: 18px;
	padding: 0 8px;
}
button:not(:disabled):active {
	box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}
button:disabled {
	color: #6d6d6d;
}

input[type=checkbox]+label::before {
	content: "";
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top: -2px;
	width: 13px;
	height: 13px;
	margin-right: 6px;
	box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
	
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
}
input[type=checkbox]:checked+label::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='%23000'/%3E%3C/svg%3E");
}
input[type=checkbox]:disabled+label::before {
	background-color: silver;
}
input[type=checkbox]:disabled:checked+label::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='gray'/%3E%3C/svg%3E");
}
.prompt_color_input_hex {
	width: calc(6ch + 8px);
}
.prompt_color_input_wrapper {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 1px 0 #fff,0 1px #fff,1px 1px #fff;
	width: 2em;
	height: 2em;
}

select {
	font: inherit;
	border: none;
	background-color: #fff;
	box-sizing: border-box;
	appearance: none;
	padding: 3px 32px 3px 4px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
	background-position: top 2px right 2px;
	background-repeat: no-repeat;
	border-radius: 0;
}
select:active {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h16v17H0V0zm1 16h14V1H1v15z' fill='gray'/%3E%3Cpath fill='silver' d='M1 1h14v15H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7H5v1h1v1h1v1h1v1h1v-1h1V9h1V8h1V7z' fill='%23000'/%3E%3C/svg%3E");
}
select:focus {
	outline: none;
	color: #fff;
	background-color: navy;
}


/* Misc. */
:focus {
	outline: dotted 1px;
	outline-offset: -3px;
}
::selection {
	background: #c3ff00;
	color: #000;
	text-shadow: none;
}








