:root {
	--bg0: #082020;
	--bg1: #144;
	--bg1t: #1448;
	--fg0d: #277;
	--fg0: #4a6;
	--fg1: #7f9;
	--border0: .15em solid;
	--shadow0: .15em .15em .3em;
	--backdrop0: brightness(.05) blur(.5em) brightness(20);
}
body {
    background: #000;
    user-select: none;
    font: 11px monospace;
}

#container {
    background: var(--bg1);
    display: grid;
    position: fixed;
    inset: 0;
    gap: 8px;
    padding: 8px;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1.5em 1fr auto;
}

.scroll,
.infos {
    padding: 1px 2px;
    contain: layout paint;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bg0);
}
.infos > * {
	display: block;
}
#tabbarctr {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}
#tabbar {
    display: flex;
    justify-content: space-around;
}
#tabbar input {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    position: absolute;
    appearance: none;
}
#tabbar input:checked + label {
    font-weight: bolder;
	color: var(--fg1);
}
#tabbar label {
    padding: 0 1ch;
    margin: 0 .5ch;
	color: var(--fg0);
}
#tabctl {
	position: sticky;
	display: flex;
}
#tabctl button {
	border: none;
	display: inline-block;
	width: 2em;
}
#tabctl button:not(:first-child) {
	border-left: var(--border0) var(--fg1);
}
#tab_close::before {
	content: "x";
}
#tab_create::before {
	content: "+";
}
#type {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr auto;
}
.tab {
	display: none;
}
#tabctr, .tab.visible {
    display: contents;
}
#input, #nick_btn, #send, #autocomp_bar, .infos, .scroll, #tabbarctr>*, #typing_users {
    box-shadow: var(--shadow0);
    border: var(--border0);
}
#input_wrap {
	position: relative;
}
#input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#autocomp_bar {
	box-sizing: border-box;
	max-width: 100%;
	position: absolute;
	bottom: calc(.5em + 100%);
	backdrop-filter: var(--backdrop0);
}
.autocomp_entry {
	padding: .15em .5em;
}
.autocomp_entry.active {
	color: var(--bg1);
	font-weight: bold;
	background: var(--fg0);
}
#container>* {
    color: var(--fg1);
}


a {
    color: var(--fg1);
}
a:active {
    color: var(--fg0);
}

code, pre {
	background: var(--bg1);
}
pre {
	margin: 0;
	padding: .5em 1em;
	white-space: pre-wrap;
	max-width: 75%;
}

button {
    font: inherit;
    appearance: none;
    border-radius: 0;
    color: var(--fg1);
    background: var(--bg1);
    border: var(--border0);
}

button:disabled, textarea:disabled {
    color: var(--fg0d);
}

button:not(:disabled):active {
    background: var(--fg0);
}

textarea, input {
    font: inherit;
    border: var(--border0);
    resize: none;
    text-indent: 0;
    color: var(--fg1);
    background: var(--bg1);
    margin: 0;
}


label,
.ui_menu--scroller>.ui_menu__up_handler:disabled,
.ui_menu--scroller>.ui_menu__down_handler:disabled,
.ui_menu .ui_menu__item--disabled,
html,
body,
input[readonly]:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
textarea[readonly] {
    cursor: url(cursors/default.cur), default
}

input[type=checkbox],
input[type=radio],
button,
a {
    cursor: url(cursors/pointer.cur), pointer
}

input,
textarea {
    cursor: url(cursors/text.cur), text
}

html>body [disabled] {
    cursor: url(cursors/not-allowed.cur), not-allowed
}

:focus {
    outline: dotted 1px;
    outline-offset: -3px;
}


dialog::backdrop {
	backdrop-filter: brightness(.05) blur(.5em) brightness(20);
}

dialog {
    color: var(--fg1);
    background: var(--bg1t);
    padding: 4px;
    border: var(--border0);
    box-shadow: var(--shadow0);
    font: inherit;
}
.prompt_input.block {
	display: block;
}
.prompt_input {
	padding: 0 .25em;
	width: 40ch;
    vertical-align: bottom;
}
.prompt_buttons {
	float: right;
    text-align: right;
}
.prompt_buttons>* {
    margin-left: 4px;
}
.prompt_color_input_wrapper {
    margin-left: 4px;
	display: inline-block;
    contain: strict;
    box-sizing: border-box;
    vertical-align: bottom;
    width: 1.5em;
    height: 1.5em;
    border: var(--border0) var(--fg1);
}
.prompt_color_input {
	appearance: none;
    outline: none;
    border: none;
    width: 3em;
    margin: -.5em;
    height: 3em;
}

em {
    opacity: 0.5;
    text-shadow: 1px 0px;
    letter-spacing: 0px;
}

#infos>.nick {
    padding-left: 7px;
}

.line {
    display: grid;
    grid-template-columns: 70px 80px 1fr;
}
.line img:not(.emoji) {
    max-width: 100%;
    max-height: 70vh;
    min-width: 4em;
    min-height: 4em;
}
#typing_users {
    height: 1.5em;
    line-height: 1.5;
    padding: 1px 4px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.time {
    color: #777;
}

.line>.nick {
    border-right: var(--border0) #555;
    text-align: right;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line>.msg {
    padding-left: 4px;
}

.msg_ctx {
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

b {
    font-weight: bolder;
}

::selection {
    background: var(--fg0);
    color: var(--bg1);
}

#mice {
    z-index: 63;
    width: 100vw;
    height: 100vh;
    inset: 0;
    position: fixed;
    pointer-events: none;
}
.mouse {
    transition: top .2s linear,
               left .2s linear;
    width: 32px;
    height: 32px;
    position: fixed;
    pointer-events: none;
    background: url('cursors/default.cur');
}
.mouse span {
    max-width: 8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #000;
    border: var(--border0);
    padding: 1px;
    top: 18px;
    left: 12px;
    position: relative;
}

.emoji {
    width: 2ch;
    height: 2ch;
    vertical-align: bottom;
}



@media (max-width: 50em) {
	.scroll {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.infos {
		position: absolute;
		right: 2em;
		top: 4em;
		min-width: 12em;
		max-width: 20em;
		max-height: 10em;
		background: #0000;
		backdrop-filter: var(--backdrop0);
	}
}
