:root {
	/* Configurable options */
	--bg0: #082020;
	--bg1: #114444;
	--bg1t: #11444488;
	--fg0d: #227777;
	--fg0: #44aa66;
	--fg1: #77ff99;
	--dm-receive: #11444455;
	--dm-send: #33111155;
	--border0: .15rem solid;
	--shadow0: .15rem .15rem .3rem;
    font: 11px monospace;


	--backdrop0: brightness(.05) blur(.25rem) brightness(20);
}
body {
    background: #000;
    user-select: none;
    background: var(--bg1);
    color: var(--fg1);
}

#container {
    display: grid;
    position: fixed;
    inset: 0;
    gap: 8px;
    padding: 8px;
    grid-template-columns: 1fr 150px;
    grid-template-rows: auto 1fr auto;
}

body.vertical-tabs #container {
	grid-template-columns: 12ch 1fr 25ch;
	grid-template-rows: 1fr auto;
}


.scroll,
.infos {
    padding: 1px 2px;
    contain: layout paint;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bg0);
}
.infos > * {
	display: block;
}
#tabbarctr {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}
body.vertical-tabs #tabbarctr {
    grid-template-columns: unset;
    grid-template-rows: 1fr auto;
	grid-row-end: 2;
	grid-column-end: 2;
}
#tabbar {
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
	max-height: 5em;
	overflow-y: auto;
}
body.vertical-tabs #tabbar {
	justify-content: unset;
	flex-wrap: unset;
	max-height: unset;
	flex-flow: column;
}
#tabbar input, .tabbed input, input[type=checkbox] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    position: absolute;
    appearance: none;
}
input[type=checkbox] + label::before {
	content: "[ ] ";
}
input[type=checkbox]:checked + label::before {
	content: "[x] ";
}
input[type=checkbox]:disabled + label::before {
	color: var(--fg0d);
}
#tabbar input:checked + label,
.tabbed input:checked + label {
    font-weight: bolder;
	color: var(--fg1);
}
#tabbar label, .tabbed label {
    padding: 0 .5ch;
	color: var(--fg0);
}
body.vertical-tabs #tabbar label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#tabctl {
	position: sticky;
	display: flex;
}
#tabctl button {
	border: none;
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	line-height: .66;
	font-size: 1.5rem;
	flex-grow: 1;
}
#tabctl button:not(:first-child) {
	border-left: var(--border0) var(--fg1);
}
#tab_create::before {
	content: "+";
}
#tab_close::before,
#stopdm_btn::before {
	content: "×";
}
#settingsbtn::before {
	content: "⛭";
}
#type {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr auto;
}
body.vertical-tabs #type {
	grid-column-end: 4;
}
#stopdm_btn {
	vertical-align: bottom;
	height: calc(100% + 4px);
	margin: -2px 4px -2px -5px;
}
.tab {
	display: none;
}
#tabctr, .tab.visible, .mice.visible {
    display: contents;
}
#input, #nick_btn, #send, #autocomp_bar, .infos, .scroll, #tabbarctr>*, #typing_users {
    box-shadow: var(--shadow0);
    border: var(--border0);
}
#input_wrap {
	position: relative;
}
#input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#autocomp_bar {
	box-sizing: border-box;
	max-width: 100%;
	position: absolute;
	bottom: calc(.5rem + 100%);
	backdrop-filter: var(--backdrop0);
}
.autocomp_entry {
	padding: .15rem .5rem;
}
.autocomp_entry.active {
	color: var(--bg1);
	font-weight: bold;
	background: var(--fg0);
}


a {
    color: var(--fg1);
}
a:active {
    color: var(--fg0);
}

code, pre {
	background: var(--bg1);
}
pre {
	margin: 0;
	padding: .5rem 1rem;
	white-space: pre-wrap;
	max-width: 75%;
}

button {
    font: inherit;
    appearance: none;
    border-radius: 0;
    color: var(--fg1);
    background: var(--bg1);
    border: var(--border0);
}

button:disabled, textarea:disabled {
    color: var(--fg0d);
}

button:not(:disabled):active {
    background: var(--fg0);
}

textarea, input {
    font: inherit;
    border: var(--border0);
    resize: none;
    text-indent: 0;
    color: var(--fg1);
    background: var(--bg1);
    margin: 0;
}


label,
.ui_menu--scroller>.ui_menu__up_handler:disabled,
.ui_menu--scroller>.ui_menu__down_handler:disabled,
.ui_menu .ui_menu__item--disabled,
html,
body,
input[readonly]:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
textarea[readonly] {
    cursor: url(cursors/default.cur), default
}

input[type=checkbox],
input[type=radio],
button,
a {
    cursor: url(cursors/pointer.cur), pointer
}

input,
textarea {
    cursor: url(cursors/text.cur), text
}

html>body [disabled] {
    cursor: url(cursors/not-allowed.cur), not-allowed
}

:focus {
    outline: dotted 1px;
    outline-offset: -3px;
}

.context_menu::backdrop {
	backdrop-filter: none;
	background: none;
}
.context_entry {
	border: none;
	background: none;
	display: block;
	position: relative;
	width: 100%;
	white-space: nowrap;
	text-align: left;
}
.context_nested::after {
	float: right;
	content: ">";
	color: #777;
}

.context_nested:is(:hover, :focus), .context_entry.active { background: var(--fg0); }
.context_nested:not(:hover, :focus, .active) > .context_map { display: none; }

.context_nested > .context_map {
	position: absolute;
}
.context_nested > .context_map.context_toup {
	bottom: -1px;
}
.context_nested > .context_map:not(.context_toup) {
	top: -1px;
}
.context_nested > .context_map.context_toleft {
	right: 100%;
}
.context_nested > .context_map:not(.context_toleft) {
	left: 100%;
}
dialog::backdrop {
	backdrop-filter: brightness(.05) blur(.5rem) brightness(20);
}
dialog.context_menu {
	padding: 0;
	border: none;
	outline: none;
}
dialog:not(.context_menu), .context_map {
    color: var(--fg1);
    background: var(--bg1t);
    padding: 4px;
    border: var(--border0);
    box-shadow: var(--shadow0);
    font: inherit;
}
.context_map {
	padding: 0;
	position: fixed;
	width: max-content;
	backdrop-filter: var(--backdrop0);
	z-index: 8;
}
.context_menu hr {
	margin: .25rem 0;
	border: none;
	border-bottom: 1px solid var(--fg0);
}
.prompt_input.block {
	display: block;
}
.prompt_input {
	padding: 0 .25rem;
	width: 40ch;
    vertical-align: bottom;
}
.prompt_buttons {
	float: right;
    text-align: right;
}
.prompt_buttons>* {
    margin-left: 4px;
}
.prompt_color_input_wrapper {
    margin-left: 4px;
	display: inline-block;
    contain: strict;
    box-sizing: border-box;
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
    border: var(--border0) var(--fg1);
}
.prompt_color_input {
	appearance: none;
    outline: none;
    border: none;
    width: 3rem;
    margin: -.5rem;
    height: 3rem;
}

h1,h2,h3,h4,h5,h6 { margin: 0; }

blockquote { 
	border-left: .75ch solid var(--bg1);
	padding-left: 1.25ch;
	margin: 0;
}

em {
    opacity: 0.5;
    text-shadow: 1px 0px;
    letter-spacing: 0px;
}

.scroll_inner {
	user-select: text;
	border-spacing: 0;
	position: sticky;
	top: 100%;
	display: grid;
	grid-template-columns: auto 18ch 1fr;
}

.line {
	display: contents;
}

.nick {
	text-shadow: 1px 1px 1px #555;
}

#infos>.nick {
    padding-left: 7px;
}

.line img:not(.emoji) {
    max-width: 100%;
    max-height: 70vh;
    min-width: 4rem;
    min-height: 4rem;
	vertical-align: bottom;
}
#typing_users {
    height: 1.5rem;
    line-height: 1.5;
    padding: 1px 4px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.time {
    color: #777;
	max-width: 12ch;
	padding-right: 1ch;
}
.infos .nick::before {
	float: right;
    content: attr(data-trhome);
	color: #777;
}
.line>.nick::before {
	float: left;
    content: attr(data-trhome);
	color: #777;
	padding-right: 1ch;
}
.line.dm-recv>* {
	background: var(--dm-receive);
}
.line.dm-recv>.nick::before {
    content: attr(data-trhome) " from";
}
.line.dm-send>* {
	background: var(--dm-send);
}
.line.dm-send>.nick::before {
    content: attr(data-trhome) " to";
}
.infos .nick, .line>.nick {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line>.nick {
    border-right: var(--border0) #555;
    text-align: right;
    padding-right: .5ch;
	max-width: 24ch;
}

.line>.msg {
    padding-left: .5ch;
}

.msg_ctx {
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

b {
    font-weight: bolder;
}

::selection {
    background: var(--fg0);
    color: var(--bg1);
}

#micectr {
    z-index: 63;
    width: 100vw;
    height: 100vh;
    inset: 0;
    position: fixed;
    pointer-events: none;
}
.mice { display: none; }
.mouse {
	opacity: .5;
    transition: top .2s linear,
               left .2s linear;
    width: 32px;
    height: 32px;
    position: fixed;
    pointer-events: none;
    background: url('cursors/default.cur');
}
.mouse span {
    max-width: 8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #000;
    border: var(--border0);
    padding: 1px;
    top: 18px;
    left: 12px;
    position: relative;
}

.emoji {
    width: 2ch;
    height: 2ch;
    vertical-align: bottom;
}


.tabbed label {
	border: var(--border0);
	margin-right: 4px;
}

.tabbed_bar {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -1px;
}

.tabbed_contents {
	display: none;
}

.tabbed_contents.active { display: contents; }

.tabbed_body {
	background: var(--bg1);
	border: var(--border0);
}

@media (max-width: 50rem) {
	.scroll {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	body.vertical-tabs .scroll {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.infos {
		position: absolute;
		right: 2rem;
		top: 4rem;
		min-width: 12rem;
		max-width: 20rem;
		max-height: 10rem;
		background: #0000;
		backdrop-filter: var(--backdrop0);
	}
	body.vertical-tabs .infos {
		top: 2rem;
	}
}
